* {
  margin: 0;
}

body {
  text-align: center;
}

dialog[open] {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);

  display: grid;
  place-items: center;
}

dialog > div,
form {
  background-color: #fff;

  width: 300px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  gap: 20px;
}

dialog h2 {
  font-size: 2rem;
}

form h2 {
  font-size: 1.3rem;
}

dialog h2 + div {
  font-size: 2rem;
  font-weight: bold;
}

label {
  display: none;
}

input {
  border: none;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
}

input:focus {
  outline: none;
  border-bottom: 1px solid black;
  color: black;
}

.player-turn {
  width: 350px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.4);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.active-player {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  min-height: 80vh;
}

.board {
  --size: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  height: var(--size);
  width: var(--size);
}

.cell {
  font-size: 80px;
}

.cell:hover {
  color: #e43131;
}

.cell:hover::after {
  content: attr(data-mark);
  color: rgba(0, 0, 0, 0.4);
}
